.stats {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 3.75rem;

    &__container {
        text-align: center;
        padding: 3rem 0;
    }

    &__item {
        text-align: center;

        &:not(.last) {
            margin-bottom: 3.75rem;
        }
        

        i {
            color: #bead8e;
            font-size: 6rem;
            margin-bottom: 1rem;
        }

        .figure {
            font-size: 3.75rem;
            font-weight: 700;

            span {
                font-size: 1rem;
            }
        }

        .footnote {
            color: #999999;
            font-size: 1rem;
        }
    }
}